<div>
    <div class="jumbotron text-center">
        <h1>{{vm.webContent.title}}</h1>
        <p> {{vm.webContent.info}}</p>
    </div>



    <div class = "container">

        <div class="page-header">
            <h1>Xiaodong chen</h1>
        </div>
        <div class="row">
            <div ng-repeat = "component in vm.webContent.components">
                <div class="col-sm-4">
                    <h3>{{component.title}}</h3>
                    <div class = "well well-lg">
                        <p class="text-primary" >{{component.content}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>Demo: Employee Information Management System</h2>
        </div>

    </div>



</div>
