<style>

    .loginView{
        position: relative;
        top: 20%;
        width : 100%;
        margin-left: auto;
        margin-right: auto;

    }

</style>

<div class = 'container'>


    <div class="loginView" >

        <div class="panel panel-default col-sm-8">
            <div class="panel-body ">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Checkbox
                                    </label>
                                </div>
                            </div>
                        </div>


                        <button type = "button" class = "btn btn-primary"> Enter</button>
                        <button type = "button" class = "btn btn-primary"> Clear</button>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>